:host {
    display: none;
    font-size: medium;
    position: relative;
}

slot {
    color: var(--theme-color-1);
}

footer {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 0 20px 50px;
    font-style: italic;
}

a {
  color: currentColor;
}

/*======*/

svg {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.wavies > use {
  -webkit-animation: waveAround 12s linear infinite;
          animation: waveAround 12s linear infinite;
}
.wavies > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.wavies > use:nth-child(2) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.wavies > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes waveAround {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes waveAround {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}